
:root {
  --purple: #7A2B58;
  --gray: #353535;
  --title-color: #FFCC33;
  --title-subcolor: #03B5B0;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 820px;
  margin: auto;
}

.section {
  position: relative;
  padding: 3.75rem 0;
  overflow: hidden;
}

.section__title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--title-color);
}
.section__title.variant {
  color: var(--title-subcolor);
}


/*    MAIN BANNER    */
.main__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/header-1920.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main__banner-logo {
  position: absolute;
  top: 9rem;
}

.main__banner-info {
  color: #FFF;
  text-align: center;
}

.main__banner-info .banner__title {
  font-size: 5rem;
  font-weight: 700;
}

.main__banner-info .banner__subtitle {
  font-size: 1.9rem;
  font-weight: 400;
}

/*    BUSINESS AREA    */
.business__area {
  background-color: var(--purple);
}

.business__box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  border: 2px solid #FFF;
  border-radius: 1rem;
  z-index: 1;
  padding: 2rem;
}

.business__box-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: #FFF;
}

.business__list-item {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.business__list-item::before {
  content: '';
  display: block;
  width: .75rem;
  height: .75rem;
  background-color: var(--title-color);
}

.section__detail.business {
  position: absolute;
  width: 20.9rem;
  height: auto;
  bottom: -2rem;
  left: -10rem;
  z-index: 0;
}

/*    DROPDOWN AREA    */
.dropdown__area {
  background-color: var(--title-subcolor);
}

.dropdown__text {
  color: #FFF;
  margin-bottom: 2rem;
}

.dropdown__box-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: center;
  column-gap: 1rem;
  width: 100%;
}

.dropdown__box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.dropdown__box-item .image__area {
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.dropdown__box-item .content {
  background-color: var(--purple);
  width: 100%;
  height: 0;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.dropdown__box-item.show .content {
  background-color: var(--title-color);
  padding: 4rem 1rem 1rem 1rem;
  height: 18rem;
}

.content .content__text {
  color: var(--purple);
  text-align: center;
  transition: transform .3s ease-in-out;
  transform: translateY(100%);
}

.dropdown__box-item.show .content__text {
  transform: translateY(0);
}

.toggle__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem .75rem;
  border-radius: 50%;
  background-color: #FFF;
  bottom: -3.5rem;
  cursor: pointer;
  transition: background .2s;
}
.toggle__button img {
  width: 1.5rem;
}

.dropdown__box-item.show .toggle__button {
  background-color: var(--purple);
}

.section__detail.dropdown {
  position: absolute;
  width: 20.9rem;
  height: auto;
  bottom: -2rem;
  right: -10rem;
  z-index: 0;
}

/*    OFICCE AREA    */
.office__area {
  background-color: var(--gray);
}

.office__area .container.office{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.office__area .image__area {
  width: 28.5rem;
  height: 22.5rem;
  background-image: url('../images/img-01.png');
  background-size: cover;
  background-position: center;
  order: 2;
}

.office__area .content {
  flex: 1;
  order: 1;
  color: #FFF;
  font-size: 1.15rem;
}

/*    FOOTER    */
.page__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  padding: 7rem 0;
}

.footer__logo {
  width: 240px;
  height: auto;
}